<template>
        <loading-bar
                :on-error-done="errorDone"
                :on-progress-done="progressDone"
                :progress="progress"
                :direction="direction"
                :error="error" >
        </loading-bar>
</template>

<script>
    import LoadingBar from '../custom/vue2-loading-bar.js';

    import '../../css/custom/loading-bar.css';

    export default {
        components: {
            LoadingBar: LoadingBar
        },
        data: function() {
            return {
                progress: 0,
                error: false,
                direction: 'right',
                errorClass: 'alert-danger'
            }
        },
        methods: {
            errorDone(){
                this.error = false;
            },
            progressDone() {
                this.progress = 0;
            },
        },
        mounted: function () {

            var me = this;

            $(function() {
                if($('div').hasClass(me.errorClass))
                {
                    me.error = true;
                }
                else
                {
                    me.progress = 100;
                }
            });
        }
    }
</script>